body {
    background-color:azure;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #303030;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 35px;
    background: #303030;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#content {
    padding-left: 100px;
}
#wrapper i {
    font-weight: 200;
    font-size: 14px;
}
.menu-element {
    margin-top: 40px;
    margin-bottom: 40px;
}
